<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>CoreDataDefaultsTests-C5182950-40A5-4D7F-8AD5-98CF32DAFF7D</string>
			<key>ProjectPath</key>
			<string>CoreDataDefaults.xcodeproj</string>
			<key>TargetName</key>
			<string>CoreDataDefaultsTests</string>
			<key>TestKind</key>
			<string>xctest-tool hosted</string>
			<key>TestName</key>
			<string>CoreDataDefaultsTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.05639195442199707</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.054208993911743164</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.052808046340942383</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.026957988739013672</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testArray()</string>
											<key>TestName</key>
											<string>testArray()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>E69CBC1A-6E80-493F-BCCE-41C35906FC1C</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0026630163192749023</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testBool()</string>
											<key>TestName</key>
											<string>testBool()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5558554C-6C88-41D4-9031-B07F56B3851D</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0036820173263549805</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testDictionary()</string>
											<key>TestName</key>
											<string>testDictionary()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7918EBF9-B14F-437E-B40D-4F9A7585BCA1</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0017229318618774414</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testDouble()</string>
											<key>TestName</key>
											<string>testDouble()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>596AACBC-93F3-4AB0-BC94-EDDB5F690895</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.004156947135925293</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testFloat()</string>
											<key>TestName</key>
											<string>testFloat()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>22C4851F-DC82-49F7-BE62-FF56F2902E31</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0027679204940795898</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testInt()</string>
											<key>TestName</key>
											<string>testInt()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B1770945-0FC0-4375-973E-74A7EC6825A8</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0014649629592895508</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testString()</string>
											<key>TestName</key>
											<string>testString()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5C15C5BE-1351-423B-B288-097E1A19C002</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0019620656967163086</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testStruct()</string>
											<key>TestName</key>
											<string>testStruct()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>581E2C5B-3CD4-424A-8C84-CC90891020B7</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>CoreDataDefaultsTests</string>
									<key>TestName</key>
									<string>CoreDataDefaultsTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>CoreDataDefaultsTests.xctest</string>
							<key>TestName</key>
							<string>CoreDataDefaultsTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
