<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>CoreDataDefaultsTests-D6AEFC84-50A8-46C2-A5A6-BE7D153A150D</string>
			<key>ProjectPath</key>
			<string>CoreDataDefaults.xcodeproj</string>
			<key>TargetName</key>
			<string>CoreDataDefaultsTests</string>
			<key>TestKind</key>
			<string>xctest-tool hosted</string>
			<key>TestName</key>
			<string>CoreDataDefaultsTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.060870051383972168</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.058404922485351562</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.05680394172668457</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.030102968215942383</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testArray()</string>
											<key>TestName</key>
											<string>testArray()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>83925997-838B-4F78-B60A-11EF27A06DBB</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.004568934440612793</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testBool()</string>
											<key>TestName</key>
											<string>testBool()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>235CD9EE-1B8D-4370-995E-9F3A10C36FED</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0056560039520263672</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testDictionary()</string>
											<key>TestName</key>
											<string>testDictionary()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B3488CA7-9BDD-4306-8282-63CE18B8A79F</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0024480819702148438</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testDouble()</string>
											<key>TestName</key>
											<string>testDouble()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>96A627E2-5FF0-4DC4-A472-26DA6D9F8025</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0019370317459106445</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testFloat()</string>
											<key>TestName</key>
											<string>testFloat()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>0F7DD908-3D04-4F3D-8003-24DCF4D87F74</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0018200874328613281</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testInt()</string>
											<key>TestName</key>
											<string>testInt()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>9DF86E4C-806C-4AAD-942E-10FEA83E23F6</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0016219615936279297</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testString()</string>
											<key>TestName</key>
											<string>testString()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>70E9E385-AEF9-4A70-B36B-0E8270A061FE</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0024549961090087891</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testStruct()</string>
											<key>TestName</key>
											<string>testStruct()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>1FCBFE7D-D603-4490-95C2-AD8CD596F9F7</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>CoreDataDefaultsTests</string>
									<key>TestName</key>
									<string>CoreDataDefaultsTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>CoreDataDefaultsTests.xctest</string>
							<key>TestName</key>
							<string>CoreDataDefaultsTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
