<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>CoreDataDefaultsTests-97A2FF0B-1D3F-4503-A907-588266089E51</string>
			<key>ProjectPath</key>
			<string>CoreDataDefaults.xcodeproj</string>
			<key>TargetName</key>
			<string>CoreDataDefaultsTests</string>
			<key>TestKind</key>
			<string>xctest-tool hosted</string>
			<key>TestName</key>
			<string>CoreDataDefaultsTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.080289006233215332</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.07800900936126709</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.076558947563171387</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.054394960403442383</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testArray()</string>
											<key>TestName</key>
											<string>testArray()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C473D653-5781-4457-A7FE-06D2FED53C0B</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0025008916854858398</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testBool()</string>
											<key>TestName</key>
											<string>testBool()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7C3E711B-F9BA-44F8-A8F0-D3313B323923</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0031979084014892578</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testDictionary()</string>
											<key>TestName</key>
											<string>testDictionary()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>2C8CE723-A42F-488D-8A7E-FE71CAD3C08C</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0017330646514892578</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testDouble()</string>
											<key>TestName</key>
											<string>testDouble()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>41966EDE-E78F-458A-B6AC-124A4C65F186</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0014789104461669922</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testFloat()</string>
											<key>TestName</key>
											<string>testFloat()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>3306DDA2-E700-4C99-881A-80F0EF50C0A9</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0017158985137939453</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testInt()</string>
											<key>TestName</key>
											<string>testInt()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>E47C3A7D-F7A6-4A92-9876-0392028FD2C8</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0020560026168823242</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testString()</string>
											<key>TestName</key>
											<string>testString()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>60122257-D329-475E-9918-3727F1FDA6E5</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0032939910888671875</real>
											<key>TestIdentifier</key>
											<string>CoreDataDefaultsTests/testStruct()</string>
											<key>TestName</key>
											<string>testStruct()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B9A1CD87-9B0C-4972-829B-2E6EE2D7C84E</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>CoreDataDefaultsTests</string>
									<key>TestName</key>
									<string>CoreDataDefaultsTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>CoreDataDefaultsTests.xctest</string>
							<key>TestName</key>
							<string>CoreDataDefaultsTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
